img {
    max-width: 100%;
}
.ms_header{
    min-height: 60px;
    background-color: #2c3e50;
}

.ms_bg-primary{
    width: 100%;
    background-color: #1abc9c;
}

.ms_secondary-bg{
    width: 100%;
    background-color: #2c3e50;
}

.ms_bg-third{
    width: 100%;
    background-color: #3a546d;
}

.ms_container{
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    color: white;
}

.ms_portfolio{
    width: 100%;
}

.ms_container img{
    width: 250px;
}

/* ROUNDED CORNER non lo applico in bootstrap ma all'immagine in quanto block */
[class^="col-"]{
    img{
        display: block;
        border-radius: 30px;
    }
}

#about-sect .col-12{
    background-color: inherit;
}

@media screen and (min-width : 768px ){
    #about-sect {
    max-width: 650px;
    }
}

#footer-sect .col-12{
    background-color: inherit;
}

#footer-sect{
    background-color: #3a546d;
}

#copyright{
    background-color: #2c3e50;
    text-align: center;
}

.ms_circle {
    display: inline-block;
    line-height: 0px;
    border-radius: 50%;
}

.ms_navbar-bg{
    background-color: #2c3e50;
}

.ms_form-control{
    border: none;
}

.ms_form-sect{
    width: 100%;
    margin: 0 auto;
}

.ms_border-col{
    border: 2px solid black;
}

@media screen and (min-width : 768px ) {
    .ms_form-sect{
        max-width: 620px;
    }
}